################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Parcial 3/1. API
/Parcial 3/2. MiPrimeraApp
