@{
	ViewData["Title"] = "Index";
}

<h1>Tipo Medicamento</h1>

<div class="input-group mb-3">
    <input id="descMedicamentoInput" type="text" class="form-control" placeholder="Buscar medicamentos" onkeyup="filtrarDinamico()">
    @* <button class="btn btn-outline-secondary" type="button" id="nombreSucursalBuscar" onclick="filtrar()">Buscar</button> *@
    @* <button class="btn btn-outline-secondary" type="button" id="limpiar" onclick="limpiar()">Limpiar</button> *@
</div>

<div id="divtabla"></div>

<script src="~/js/generic.js"></script>
<script src="~/js/medicamento.js"></script>
