@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<button type="button" class="btn btn-primary btn-sm">Ingresar</button>
<button type="button" class="btn btn-outline-danger btn-sm">Ingresar</button>
<button type="button" class="btn btn-outline-danger btn-sm">Ingresar</button>