* {
    margin: 0px;
}

body {
    height: 100%;
    background-color: white; 
    font-family: Arial, sans-serif;
}

body:hover{
    background-color: #000000;
}

.card {
    box-shadow: #000000 0px 0px 50px;
    margin: auto;
    margin-top: 50px;
    height: 700px;
    background-color: #ddd;
    width: 500px;
}

.card-header {
    height: 350px;
    background-image: url("https://www.skole.ec/1494-large_default/camiseta-deportiva-gris.jpg");
    background-size: cover;
    background-position: center;
    position: relative; /* para poner el view details y no se me mueva */
}

.card-header:hover::after { /*contenido despues de la animacion*/
    content: "VIEW DETAILS"; 
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    background-color: black;
    color: white; /* de la letra */
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
}

.card-header:hover {
    transform: scaleX(1.2); /* transformación horizontal */
    filter: invert(1);
    filter: brightness(0.3); /* para que se opacidad */
}

.card-content{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 40px;
}

.product-info {
    display: flex; /* adidas y precio misma línea */
    justify-content: space-between; 
    align-items: center; /* alinear vertical */
}

.price {
    font-size: 20px; 
    font-weight: bold; 
    color: #333; 
}

h4 {
    color: gray;
}

.size {
    margin-top: 50px;
}

.color {
    margin-top: 40px;
}

.red{
    border: 1px solid red;
    background-color: red;
    border-radius: 50%;
    color: red;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.blue{
    border: 1px solid blue;
    background-color: blue;
    border-radius: 50%;
    color: blue;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.white{
    border: 1px solid white;
    background-color: white;
    border-radius: 50%;
    color: white;
    width: 10px;
    height: 10px;
    display: inline-block;
}

.green{
    border: 1px solid green;
    background-color: green;
    border-radius: 50%;
    color: green;
    width: 10px;
    height: 10px;
    display: inline-block;
}