body{
    background-color: antiquewhite;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    text-align: center;
    color: blueviolet;
}

h2{
    color: blue;
}

h3{
    color: aliceblue;
}

p{
    color: black ;
    font-family: 'Times New Roman', Times, serif;
}

ol{
    color: darkslategrey;
}

strong{

}

dd{
    font-family: 'Times New Roman', Times, serif;
    color: darkslategrey;
}

dt{
    color: darkslategrey;
}

footer{
    text-align: center;
    color: darkgray;
}

.estilop{
    color: brown;
    font-size: medium;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#caracteristicas{
    color: brown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.container{
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
}

div > p{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

p > h6{
    color: black;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

aside > h2{
    background-color: aliceblue;
}

div li{
    color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}

.flexstyle{
    border-color: blue;
    border-width: 6px;
    border-style: double;
    display: flex;
    justify-content: center;

}

.aside1 {
    margin-bottom: 40px;
    padding: 10px;
    background-color: blue;
    position: fixed;
    right: 0;
    top: 20px;
    width: 300px;
}

.aside2 {
    padding: 10px;
    background-color: green;
    text-align: center;
    position: fixed;
    right: 0;
    top: 500px;
    width: 300px;
}

