@{
	ViewData["Title"] = "Index";
}

<h1>Tipo Medicamento</h1>

<div class="input-group mb-3">
    <input id="descMedicamentoInput" type="text" class="form-control" placeholder="Buscar medicamentos" onkeyup="filtrarDinamico()">
    @* <button class="btn btn-outline-secondary" type="button" id="nombreSucursalBuscar" onclick="filtrar()">Buscar</button> *@
    @* <button class="btn btn-outline-secondary" type="button" id="limpiar" onclick="limpiar()">Limpiar</button> *@
</div>
<fieldset class="border-1 border-secondary">
    <legend>Buscar</legend>
    <form id="formBuscar" method="post" class="row g-3 m-3">
        <div class="col">
            <input type="text" name="idMedicamento" id="idMedicamento" class="form-control" placeholder="id Medicamento" readonly>
        </div>
        <div class="col">
            <input type="text" name="nombre" class="form-control" placeholder="Nombre">
        </div>
        <div class="col">
            <input type="text" name="descripcion" class="form-control" placeholder="Descripcion">
        </div>
    </form>
    <div class="row g-3 m-3">
        <button type="submit" class="btn btn-primary col m-3" onclick="GuardarTipoMedicamento()">Guardar</button>
        <button type="submit" class="btn btn-danger col m-3" onclick="LimpiarTipoMedicamento()">Limpiar</button>
    </div>
</fieldset>
<div id="divtabla"></div>

<script src="~/js/generic.js"></script>
<script src="~/js/medicamento.js"></script>
